.new-section{
	float: left;
}

hr {
	height:14px; /* specify a height for this hr */
	overflow:hidden;
	border: none;
	&:after {
		content:"..................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................";
		letter-spacing: 4px; /* Use letter-spacing to increase space between dots*/
	}
}

h1 {
		font-size: 6.4em;
		text-align: center;
		width: 100%;
}	
body {
	background-image: url('/img/gingam.gif');
	background-size: 90px;
}

header {
	background: $red;
	width: 200px;
	height: 70px;
	font-size: 6.4em;
	text-align: center;
	color: $white;
	font-family: 'Stalemate', cursive;
}

.separator {
	background-image: url('/img/gingam.gif');
	background-size: 35px;
	height: 10px;
	margin: 0px auto;
}

.wrapper {
	width: 100%;
	margin-top: 30px;
	padding-top: 30px;
	background-color: $white;

}
.ending {
	content: ' ';
	display: block;
	position: relative;
	width: 100%;
	height: 400px;
	@include background-image(linear-gradient(rgba(255,255,255,1),rgba(255,255,255,0.5) 50%, rgba(0,0,0,1)));

	.napkin {
		width: 0; 
		height: 0; 
		border-top: 80px solid transparent;
		border-bottom: 80px solid transparent; 
		border-right: 80px solid white; 	
		-webkit-filter: drop-shadow(0px 0px 5px rgba($black,0.6));
        filter: drop-shadow(0px 0px 15px rgba($black,0.6));
	    position: absolute;
	    top: 50%;
	    left: 50%;
		&:first-child {
			z-index: 2;
		    margin: -80px 0 0 -250px;
		}
		&:nth-child(2) {
			z-index: 1;
		    margin: -75px 0 0 -250px;
		    -webkit-transform: rotate(-1deg);
		}
	}

	.fork {
		z-index: 3;
		-webkit-filter: drop-shadow(0px 0px 5px rgba($black,0.6));
        filter: drop-shadow(0px 0px 15px rgba($black,0.6));
        width: 30px;
        height: 175px;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    margin: -80px 0 0 -200px;
	}

	.knife-spoon {
		z-index: 1;
		-webkit-filter: drop-shadow(0px 0px 5px rgba($black,0.6));
        filter: drop-shadow(0px 0px 15px rgba($black,0.6));
        width: 100px;
        height: 175px;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    margin: -80px 0 0 175px;
	}

	.plate {
		background: $white;
		border-radius: 50%;
		box-shadow: 0px 0px 25px rgba($black,0.6);
		width: 240px;
		height: 240px;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    margin: -120px 0 0 -120px;
	    .center {
	    	width: 80%;
	    	height: 80%;
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    margin: -40% 0 0 -40%;
	    	background-color: rgba(#dfe0e2,.15);
			border-radius: 50%;
	    	box-shadow: 0 0 0 7px #fff, 0 0 0 10px rgba(#dfe0e2,.3);
	    }
	}
}

.menu {
	text-align: center;
	padding: 0px;
	li {
		padding: 30px;
		list-style: none;
		h2 {
			font-size: 3.6em;
			width: 100%;
			line-height: 1em;
		}
		.separator {
			width: 80%;
		}
		.img {
			border-radius: 50%;
			width: 200px;
			height: 200px;
			margin: 10px auto;
			background-color: rgba(#f2f2f2,.3);
		}
		p {
			font-size: 1.6em;
		}

		width: 33.33%;
		float: left;
	}
}
 
footer {
	display: table;
	p {
		display: table-cell;
		vertical-align: middle;
		span {
			color: $red;
		}
	}
	font-size: 1.9em;
	font-weight: 600;
	color: white;
	height: 100px;
	background: rgba(0,0,0,1);
	width: 100%;
	text-align: center;
}